<!--

<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">dcpApp</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>

-->

<div class="login-cover" data-ng-hide="authentication.user">
<div class="row">
<div class="col-xs-10 col-xs-offset-1">
<h1 >Welcome to insighted!</h1>
<h2>So, you've been asked to help with a reasearch project.</h2>
<h3>Please take a minute to login or sign up.</h3>
</div>
</div>
<section class="row signin-block" data-ng-controller="AuthenticationController">
<br/>
<div class="col-xs-offset-1 col-xs-10 col-md-offset-5 col-md-2">
<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
<fieldset>
<div class="form-group ">
<input type="text" id="username" name="username" class="form-control username-signin" data-ng-model="credentials.username" placeholder="Username">
</div>
<div class="form-group">
<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
<a href="/#!/password/forgot">Forgot your password?</a>
</div>
<div class="text-center form-group">
<button type="submit" class="signin-button ">LOGIN</button>
<button  class="signup-button ">SIGN UP</button>





</div>

<div data-ng-show="error" class="text-center text-danger">
<strong data-ng-bind="error"></strong>
</div>
</fieldset>
</form>
</div>
</section>





<section class="row signup-block" data-ng-controller="AuthenticationController">

<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
<fieldset>
<div class="form-group">

<input type="text" required id="firstName" name="firstName" class="form-control username-signin" data-ng-model="credentials.firstName" placeholder="First Name">
</div>
<div class="form-group">

<input type="text" id="lastName" name="lastName" class="form-control username-signin" data-ng-model="credentials.lastName" placeholder="Last Name">
</div>
<div class="form-group">

<input type="email" id="email" name="email" class="form-control username-signin" data-ng-model="credentials.email" placeholder="Email">
</div>
<div class="form-group">

<input type="text" id="username" name="username" class="form-control username-signin" data-ng-model="credentials.username" placeholder="Username">
</div>
<div class="form-group">

<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
</div>
<div class="text-center form-group">

<button  type="submit" class="signup-button ">SIGN UP</button>
<button class="signin-button signin-clicker">LOGIN</button>
</div>
<div data-ng-show="error" class="text-center text-danger">
<strong data-ng-bind="error"></strong>
</div>
</fieldset>
</form>
</div>
</section>




</div>
