@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

.task-view-name {
  margin-top:-20px;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size: 2em;
}

.insight-textarea {

  margin-top:20px;
  background-color:white !important;
  border-radius: 0px !important;
  border: 0px !important;
}
