@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
.task-view-name {
  margin-top:-50px;


  position:absolute;

  left:0px;
  width:100%;
}
.task-view-name h1{
  margin-top:10px;
  font-family: 'Open Sans', sans-serif;
  color:#212121;
  font-weight:500;
  font-size: 1.9em;
  margin-left:15px;
}

.task-view-name h2{
  margin-top:10px;
  font-family: 'Raleway', serif;
  color:#212121;
  margin-left:15px;
  font-weight:400;
  font-size: 1.1em;
}
.insight-textarea {

  margin-top:40px;
  background-color:white !important;
  border-radius: 0px !important;
  border: 0px !important;
}

.task-color-text{
  background: #4caf50;
  width:4.4em;
  height:4.4em;
  border-radius:4.4em;

}

.task-color-image{
  background-color:#fdd835;
  width:4.4em;
  height:4.4em;
  border-radius:4.4em;

}

.task-color-sound{
  background-color:#f44336;
  width:4.4em;
  height:4.4em;
  border-radius:4.4em;

}

.task-preview-icon {
  color:rgba(0, 0, 0, 0.4);
  font-size:3.3em;
  margin-left:-10px;
  margin-top:20px;
}
.task-tile{
  height:90px;
  margin-right:0;
  margin-left:0;
  margin-bottom:10px;


}

.task-tile h1{
  font-family:'Open Sans', sans-serif;
  font-size:1.2em;
  color:white;
  margin-top:30px !important;
  margin-left:10px;
}
