<section data-ng-controller="TasksController" data-ng-init="findOne()" >

<div class="task-view-name">
	<h1 data-ng-bind="task.name"></h1>
	<h2 data-ng-bind="task.purpose"></h2>
</div>

	<div ng-if="task.type == 'text'">
		<section data-ng-controller="InsightsController">
			<div class="col-md-12" >


				<form class="form-horizontal" data-ng-submit="create()" novalidate>
					<fieldset>

						<div class="form-group">



							<textarea class="form-control insight-textarea" data-ng-model="text" id="text" rows="8"></textarea>
						</div>

						<div class="form-group">
							<input type="submit" class="btn btn-default">
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>





		</section>

	</div>




	<div ng-if="task.type == 'image'">
		<section data-ng-controller="InsightsController">
			<div class="col-md-12" ng-init="instacreate()">
			</div>





				<form action="{{'http://178.62.118.59:3002/upload/uploading/' + $root.passedInstaInsight}}" method="post" enctype="multipart/form-data">
					<input type="file" name="filefield" accept="image/*;capture=camera">
					<input type="submit" class="btn btn-default">
				</form>




		</section>

	</div>




</section>


<!-- Need to put insight id here -->
