


<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="project-view-title background-{{project.color}}">
		<h1 data-ng-bind="project.name"></h1>

		<h2 data-ng-bind="project.desc"></h2>
	</div>
<div ng-if="project.color == 'blue'">
	<style>
	body{
		background-color:#eeeeee;
	}
	</style>
</div>
<div ng-if="project.color == 'red'">
<style>
body{
	background-color:#eeeeee;
}
</style>
</div>
<div ng-if="project.color == 'green'">
<style>
body{
	background-color:#eeeeee;
}
</style>
</div>
</section>

<section data-ng-controller="TasksController" data-ng-init="find()" class="task-preview-box">


	<div data-ng-repeat="task in tasks | filter:{ project: $root.passedProjectId }">
		<a  data-ng-href="#!/tasks/{{task._id}}"  >
			<div class="col-xs-12 task-tile background-{{task.type}} ">
				<div class="row ">
					<div class="task-preview-project text-center" >



						<div class="col-xs-2 text-center">
							<div class="task-color-{{task.type}} text-center">
								<i ng-if="task.type=='text'" class="ion ion-chatbubble-working task-preview-icon text-center"></i>

								<i ng-if="task.type=='image'" class="ion ion-camera task-preview-icon"></i>

								<i ng-if="task.type=='sound'" class="ion ion-mic-a task-preview-icon"></i>

							</div>
							<!--<img src="modules/projects/img/profileCircle.png" class="img-responsive" />-->
						</div>

					</div>


					<div class="col-xs-10">
						<h1 data-ng-bind="task.name"></h1>
					</div>

			</div>



			</div>

		</a>
	</div>

	<div class="login-cover" data-ng-hide="authentication.user">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1 >Welcome to insighted!</h1>
				<h2>So, you've been asked to help with a reasearch project.</h2>
				<h3>Please take a minute to login or sign up.</h3>
			</div>
		</div>
		<section class="row signin-block" data-ng-controller="AuthenticationController">
			<br/>
			<div class="col-xs-offset-1 col-xs-10 col-md-offset-5 col-md-2">
				<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group ">
							<input type="text" id="username" name="username" class="form-control username-signin" data-ng-model="credentials.username" placeholder="Username">
						</div>
						<div class="form-group">
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
							<a href="/#!/password/forgot">Forgot your password?</a>
						</div>
						<div class="text-center form-group">
							<button type="submit" class="signin-button ">LOGIN</button>
							<button  class="signup-button ">SIGN UP</button>





						</div>

						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
		</section>





		<section class="row signup-block" data-ng-controller="AuthenticationController">

			<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
				<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
					<fieldset>
						<div class="form-group">

							<input type="text" required id="firstName" name="firstName" class="form-control username-signin" data-ng-model="credentials.firstName" placeholder="First Name">
						</div>
						<div class="form-group">

							<input type="text" id="lastName" name="lastName" class="form-control username-signin" data-ng-model="credentials.lastName" placeholder="Last Name">
						</div>
						<div class="form-group">

							<input type="email" id="email" name="email" class="form-control username-signin" data-ng-model="credentials.email" placeholder="Email">
						</div>
						<div class="form-group">

							<input type="text" id="username" name="username" class="form-control username-signin" data-ng-model="credentials.username" placeholder="Username">
						</div>
						<div class="form-group">

							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
						</div>
						<div class="text-center form-group">

							<button  type="submit" class="signup-button ">SIGN UP</button>
							<button class="signin-button signin-clicker">LOGIN</button>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
		</section>




	</div>

</section>

<script>
$( ".signup-button" ).click(function() {
	$( ".signup-block" ).show( "fast");
	$(".signin-block").hide("fast");
});

$( ".signin-clicker" ).click(function() {
	$( ".signup-block" ).hide( "fast");
	$(".signin-block").show("fast");
});

</script>
