<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="page-header project-view-title">
		<h1 data-ng-bind="project.name"></h1>
	</div>

</section>

<section data-ng-controller="TasksController" data-ng-init="find()">




	<div class="row task-preview-project card-content" data-ng-repeat="task in tasks | filter:{ project: $root.passedProjectId }" >

		<a  data-ng-href="#!/tasks/{{task._id}}"  >



			<div class="col-xs-9">
				<h1 data-ng-bind="task.name"></h1>
			</div>

			<div class="col-xs-1">
				<div class="task-color-{{task.type}}">
					<i ng-if="task.type=='text'" class="glyphicon glyphicon-pencil task-preview-icon"></i>

					<i ng-if="task.type=='image'" class="glyphicon glyphicon-camera task-preview-icon"></i>

					<i ng-if="task.type=='sound'" class="glyphicon glyphicon-headphones task-preview-icon"></i>

				</div>
				<!--<img src="modules/projects/img/profileCircle.png" class="img-responsive" />-->
			</div>



		</a>


	</div>


</section>
