

<section data-ng-controller="InsightsController" data-ng-init="findOne()">

	<div class="row">
			<div class="col-xs-12 text-center">
				<h1> Thanks for your insight!</h1>

				<h2>// {{$root.passedProject.user.displayName}}</h2>

				<a ng-href="http://insighted.co:3002/#!/projects/{{$root.passedProject._id}}"><button  class="signup-button ">GO BACK</button></a>
				<div>
	</div>
<!--	<div class="page-header">
		<h1 data-ng-bind="insight.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == insight.user._id))">
		<a class="btn btn-primary" href="/#!/insights/{{insight._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="insight.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="insight.user.displayName"></span>
		</em>
	</small> -->


<!--	<section data-ng-controller="ProjectsController" data-ng-init="findOneAndAdd()">
		<div class="page-header project-view-title">
			<h1 data-ng-bind="project.name"></h1>
		</div>

	</section> -->



	<section data-ng-controller="ProjectsController" ng-init="update()">
		<!--<div class="page-header" >

		</div>
		<div class="col-md-12">
			<form class="form-horizontal" id="updateProjectNumForm" data-ng-submit="update()" novalidate>
				<fieldset>

					<div class="form-group">
						<input type="submit" value="Update project num" class="btn btn-default">
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>-->
	</section>


	<section data-ng-controller="TasksController" ng-init="update()">
	<!--	<div class="page-header" >

		</div>
		<div class="col-md-12">
			<form class="form-horizontal" id="updateTaskNumForm"data-ng-submit="update()" novalidate>
				<fieldset>

					<div class="form-group">
						<input type="submit" value="Update task num" class="btn btn-default">
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div> -->
	</section>


</section>
